<?xml version="1.0"?>
<configuration>
  <system.web>
    <customErrors mode="On" defaultRedirect="../error.html">
      <error statusCode="403" redirect="../unauthorised.html" />
      <error statusCode="404" redirect="../notfound.html" />
    </customErrors>
    <authorization>
      <deny users="?"/>
    </authorization>
  </system.web>
  <location path="Upesh/Management">
    <system.web>
      <authorization>
        <allow users ="management, office, maintenance"/>
        <deny users ="*"/>
      </authorization>
    </system.web>
  </location>

  <location path="Upesh/Management/Office">
    <system.web>
      <authorization>
        <allow users="office"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
</configuration>
