<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  
    <connectionStrings>
        <remove name="LocalSqlServer"/>
        <add name="LocalSqlServer" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|aspnetdb.mdf;Integrated Security=True"/>
    </connectionStrings>
    
    <system.web>
      <customErrors mode="On" defaultRedirect="error.html">
        <error statusCode="403" redirect="unauthorised.html" />
        <error statusCode="404" redirect="notfound.html" />
      </customErrors>
      <compilation debug="true" targetFramework="4.5.2" />
      <authentication mode="Forms"/>
    </system.web>
    
  
    <system.net>
        <mailSettings>
            <smtp deliveryMethod="Network" from="passwords@finalyearproject.dmu.ac.uk">
                <network host="mail" port="25" defaultCredentials="true"/>
            </smtp>
        </mailSettings>
    </system.net>

</configuration>
